.head{
	width: 780px;
	height: 1390px;
	padding-top: 500px;
	padding-left: 180px;
	background-image: url(../img/beijing.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.table1{
	text-align: center;
	height: 500px;
}
.table1 font{
	color: white;
	font-size: 50px;
}
.table1 input{
	font-size: 40px;
	padding-left: 9px;
	width: 400px;
	height: 70px;
	border-radius: 8px;
	border: none;
}
#login{
	font-size: 40px;
	color: #FFFFFF;
	align-content: center;
	width: 90%;
	height: 60px;
	background-color: cornflowerblue;
	border-radius: 10px;
	cursor: pointer;
}
#login:hover{
	background-color: darkcyan;
	color: darkgray;
}
#foot{
	padding-top: 700px;
	font-size: 30px;
	color: #ccc;
}